<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>userList</title>
        <!--利用thymeleaf表达式获取css路径,bootstrap给button提供样式-->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/jquery3.js}"></script>
    </head>

    <body class="container">
        <div>
            <table>
                <tr>
                    <th width="100">用户id</th>
                    <th width="100">用户名</th>
                    <th width="100">年龄</th>
                    <th width="100">性别</th>
                </tr>
                <!-- 遍历list数据 -->
                <tr th:each="user:${list}">
                    <th th:text="${user.id}"></th>
                    <th th:text="${user.name}"></th>
                    <th th:text="${user.age}"></th>
                    <th th:if="${user.sex}=='1'">男</th>
                    <th th:if="${user.sex}=='0'">女</th>
                </tr>
            </table>
        </div>
    </body>

    <script>

    </script>
</html>

