<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 组件对齐方式</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">随便的管理网站</a>
        </div>
        <input id="pageName" th:value="${pageName}" hidden>
        <div>
            <!--向左对齐-->
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a id="student" href="#" onclick="studentLink()" class="dropdown-toggle" data-toggle="dropdown">
                        用户/学生信息
                    </a>
                </li>
                <li>
                    <a id="teacher" href="#" onclick="teacherLink()" class="dropdown-toggle" data-toggle="dropdown">
                        教师信息
                    </a>
                </li>
                <li>
                    <a id="price" href="#" onclick="price()" class="dropdown-toggle" data-toggle="dropdown">
                        价格设置
                    </a>
                </li>
            </ul>
            <!--向右对齐-->
            <ul class="nav navbar-nav navbar-right" style="padding-top: 12px;border-width: 0px">
                <button onclick="logout()" style="border-width: 0px">
                    退出登录
                </button>
            </ul>
        </div>
    </div>
</nav>

</body>
<script>

    // 页面初始化调用方法
    $(function (){
        setColorForNav();
    })

    // 位当前页面的导航栏上色
    function setColorForNav(){
        let name = $("#pageName").val();
        if(name === "student"){
            // style="background-color: rgb(91,183,92)"
            $("#student").css('background','pink');
        }else if(name === "teacher"){
            $("#teacher").css('background','pink');
        }else if((name === "price"){
            $("#price").css('background','pink');
        }
    }

    // 点击头部用户/学生链接
    function studentLink(){
        window.location.href = "/user/list";
    }

    // 点击头部教师链接
    function teacherLink(){
        window.location.href = "/teacher/list";
    }

    // 点击头部价格链接
    function price(){
        window.location.href = "/price/list";
    }

    // 退出登录
    function logout(){
        window.location.href = "/login/logout";
    }

</script>
</html>