<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>随便的一个登录页面</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery3.js}"></script>
</head>

<body>

<div class="container">
    <form class="form-signin" method="post" action="/login/authen" style="">
        <br/>
        <h2 class="form-signin-heading" style="">请登录</h2>
        <label class="sr-only">账号/用户名</label>
        <input type="text" style="width: 200px" id="account" onfocus="clearMsg()" class="form-control" name="name" placeholder="账号" required autofocus>
        <label class="sr-only">密码</label>
        <input type="password" style="width: 200px" id="psw" onfocus="clearMsg()" class="form-control" name="password" placeholder="密码" required>
        <br/>
        <button class="btn btn-primary" id="login" type="button">登录</button>
        <button class="btn btn-info" id="rest" type="reset" onclick="clearMsg()">重置</button>
    </form>
    <br/>
    <div>
        <label id="tishi" style="color: red" class="sr-only"></label>
    </div>

</div>
</body>
<script>

    /**
     * 页面初始时执行的方法
     */
    $(function () {

    });

    /**
     * 登录请求后根据后台传来的值进行下一步骤
     */
    $("#login").click(function () {
        // 使用ajax异步请求
        $.ajax({
            //为wed.xml的AjaxServlet的路径
            url : "/login/authen",
            type : "POST",		//POST方法
            // 入参对象
            data : {
                //获取用户名的值传到AjaxServlet
                name : $("#account").val(),
                //获取密码的值传到AjaxServlet
                password : $("#psw").val()
            },
            // 入参对象格式：json
            dataType : "application/json",
            // 完成请求后
            complete: function(r) {
                // 得到响应参数文本值的json对象。即将string转换成json
                let rJson = $.parseJSON(r.responseText);
                // 得到转化后的json的code属性
                let rCode = rJson.code;
                // 将code的内容和0000进行比较，是0000表示后台返回正常
                if(rCode === "0000"){
                    // 返回正常就跳转到用户列表中
                    window.location.href = "/user/list";
                }else {
                    // 返回的不是0000表示后台报错，异常情况需要考虑到，提示信息给一个报错。
                    tishiText("账号或者密码错误")
                }
            }
        })
    });

    /**
     * 账号或者密码输入框发生聚焦时调用该方法
     * 将提示信息的内容置空
     */
    function clearMsg(){
        tishiText("")
    }

    function tishiText(text) {
        $("#tishi").text(text);
    }
</script>
</html>