<!DOCTYPE html>
<!--<head xmlns:th="http://www.springframework.org/schema/jdbc">-->
    <!--<meta charset="UTF-8">-->
    <!--<title>展示页</title>-->
    <!--<link rel="shortcut icon" href="" type="image/x-icon">-->
    <!--<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />-->
    <!--<script type="text/javascript" th:src="@{/js/jquery3.js}"></script>-->
<!--</head>-->
<!--<body>-->
    <!--后台启动成功-->
<!--</body>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>随便的一个页面</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery3.js}"></script>
</head>

<body>

<div class="container">
    <form class="form-signin" method="post" action="/login/authen" style="">
        <br/>
        <h2 class="form-signin-heading" style="">请登录</h2>
        <label class="sr-only">账号/用户名</label>
        <input type="text" style="width: 200px" id="account" onfocus="changeName()" class="form-control" name="name" placeholder="账号" required autofocus>
        <label class="sr-only">密码</label>
        <input type="password" style="width: 200px" id="psw" onfocus="changePsw()" class="form-control" name="password" placeholder="密码" required>
        <br/>
        <button class="btn btn-primary" id="login" type="button">登录</button>
        <button class="btn btn-info" type="reset">重置</button>
    </form>
    <br/>
    <div>
        <label id="tishi" style="color: red" class="sr-only"></label>
    </div>

</div>
</body>
<script>
    $(function () {

    });

    $("#login").click(function () {
        $.ajax({
            url : "/login/authen",//为wed.xml的AjaxServlet的路径
            type : "POST",		//POST方法
            data : {
                name : $("#account").val(), //获取用户名的值传到AjaxServlet
                password : $("#psw").val()	//获取密码的值传到AjaxServlet
            },
            dataType : "application/json",		//回传 的值为text
            complete: function(r) {
                //请求完成的处理
                rJson = $.parseJSON(r.responseText);
                rCode = rJson.code;
                if(rCode === "0000"){

                }else {
                    tishiText("账号或者密码错误")
                }
            }
        })
    });

    function changeName(){
        tishiText("")
    }
    function changePsw(){
        tishiText("")
    }
    function tishiText(text) {
        $("#tishi").text(text);
    }
</script>
</html>