<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>teacherList</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body class="container">
        <div id="html_core">

        </div>

        <div><br/></div>

        <!--    用户名称输入框    -->
        <div>
            <input style="width: 50%;display: revert" type="text" id="userNameSearchInput" class="form-control" placeholder="目前只能输入用户名称进行查询，按回车键搜索" />
            <button class="btn btn-info" id="userNameSearchButton" type="button">
                查询
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="clearWindow()">
                新增
            </button>
        </div>

        <div><br/></div>
        <div>
            <table class="table table-hover">
                <tr>
                    <th th:width="100">教师id</th>
                    <th th:width="100">用户名/教师名</th>
                    <th th:width="100">年龄</th>
                    <th th:width="200">操作</th>
                </tr>
                <!-- 遍历list数据 -->
                <tr th:each="teacher:${list}">
                    <th th:text="${teacher.id}"></th>
                    <th th:text="${teacher.name}"></th>
                    <th th:text="${teacher.age}"></th>
                    <th>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"
                                th:onclick="'editUser('+${teacher.id}+')'">修改</button>
                        <button type="button" class="btn btn-danger btn-sm"
                                th:onclick="'deleteUser('+${teacher.id}+')'">删除</button>
                    </th>
                </tr>
            </table>
            <div th:align="center" th:if="${#lists.isEmpty(list)}"><font style="color: #0a53be">没有查询到数据</font></div>
            <div>
                <ul id="pageButtonArea" class="pagination">

                </ul>
            </div>
        </div>

        <!-- 模态框（Modal）用户新增和编辑 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            新增/编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div th:align="center">
                            <!--隐藏一个id输入框用于编辑-->
                            <input type="text" hidden id="hiddenIdInput" value="" name="id">
                            <span class="glyphicon glyphicon-user"></span>账号/用户名
                            <input type="text" style="width: 50%" id="account" onfocus="" class="form-control" name="name" required>
                            <span class="glyphicon glyphicon-star"></span>密码
                            <input type="text" style="width: 50%" id="psw" onfocus="" class="form-control" name="password" required>

                            <span class="glyphicon glyphicon-unchecked"></span>性别<br/>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="1"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="0"> 女
                            </label>
                            <br/>
                            <span class="glyphicon glyphicon-send"></span>年龄
                            <input type="text" style="width: 50%" id="age" onfocus="" class="form-control" name="age" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" onclick="saveUser()">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 删除提示框 -->
        <div class="modal fade" id="delcfmModel">
            <div class="modal-dialog">
                <div class="modal-content message_align">
                    <div class="modal-header">
                        <h4 class="modal-title">确认信息</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>            </div>
                    <div class="modal-body">
                        <p id="delcfmMsg">您确认要删除吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-success" data-dismiss="modal" id="btnOkDelete" >确定</a>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" th:src="@{/js/jquery3.6.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>

    <script>

        // 初始化页面时运行
        $(function (){
            // 加载头部导航栏
            $('#html_core').load('/other/daohang?name=teacher');
            // 加载教师数据
            getTeacherData();
        })

        // 加载教师数据
        function getTeacherData(){
            let html = "";
            // 使用ajax异步请求
            $.ajax({
                //为wed.xml的AjaxServlet的路径
                url : "/teacher/list_page",
                type : "POST",		//POST方法
                // 入参对象
                data : {
                    //获取用户名的值传到AjaxServlet
                    name : "",
                },
                // 入参对象格式：json
                dataType : "application/json",
                // 完成请求后
                complete: function(r) {
                    // 转换成json对象
                    let rJson = $.parseJSON(r.responseText);
                    // 得到数据list
                    let teacherList = rJson.rows;
                    // 遍历list
                    if(teacherList.length > 0){
                        $.each(teacherList, function (n,value){

                        });
                    }
                }
            })
        }

    </script>
</html>

