<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qmcz.mapper.NormalQueryMapper" >

    <select id="selectData" resultType="com.qmcz.domain.vo.UserAccount">
        SELECT
            u.username as username,
            ua.psw
        FROM
            user_account ua
        LEFT JOIN
            user u
        ON
            ua.user_id = u.id;
    </select>
</mapper>
