<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qmcz.mapper.UserMapper">
    <insert id="addUserByVi" parameterType="com.qmcz.domain.vi.UserVi">
        insert into user(name, sex, authen_code, age, teacher_id, class_id, subject_id, phone)
        values(#{name}, #{sex}, #{authenCode}, #{age}, #{teacherId}, #{classId}, #{subjectId}, #{phone})
    </insert>
    <insert id="insertUserAccount" parameterType="com.qmcz.domain.vi.UserVi">
        insert into user_account(user_id , psw) values(#{user.userId} , #{user.password})
    </insert>
    <delete id="deleteUserAccount" parameterType="int">
        delete from user_account where user_id = #{id}
    </delete>

    <select id="selectUserList" resultType="com.qmcz.domain.User" parameterType="com.qmcz.domain.User">
        select
          s.id  ,  s.name , s.sex , s.authen_code as authenCode,
          s.age ,  1 as teacherId , s.class_id as classId ,
          1 as subjectId , 1 as phone
        from user s
        where 1 = 1
        <if test="user.name != null and user.name != '' ">
            and s.name like concat('%', #{user.name}, '%')
        </if>
        limit #{user.pageStart} , #{user.pageSize}
    </select>
    <select id="selectUserForEdit" resultType="com.qmcz.domain.vo.UserVoEdit">
        select
            u.name,
            u.age,
            u.sex,
            a.psw as password
        from
            user u
        left join
            user_account a
        on
            u.id = a.user_id
        where
            u.id = #{user.id}
    </select>
</mapper>
